 <div class="container"> 
<h3> Angular 2 Form</h3>
<form #form = "ngForm" (submit)="submitForm()"  novalidate>
     <div class="form-group">
        <label> First Name </label>
    <input type="text" class="form-control" name="firstName" ngModel>
     </div>
     <label> Gender </label>
     <div class="radio">
         <label>
             <input type="radio" name="gender" value="male" ngModel>Male</label>
     </div>
     <div class="radio">
         <label>
             <input type="radio" name="gender" value="female" ngModel>Female</label>
     </div>
     <div class="form-group">
        <label> State </label>
<select class="form-control" name="state" [(ngModel)] = "model.state">
    <option default>Select your state...</option>
<option *ngFor="let state of states">
    {{state}}</option>
    </select>
    </div>
    <div class="form-group">
        <label> Date of Birth </label>
    <input type="date" class="form-control" name="dob" ngModel>
     </div>
     <div class="form-group">
        <label> Address </label>
    <input type="textfield" class="form-control"  name="address" ngModel>
     </div>
     
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid" >submit</button>
</form> 
Model: {{ model | json}}
<br>
Angular: {{ form.value | json}}
</div>

